body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    text-align: center;
  }
  
  h1 {
    margin-top: 20px;
    font-size: 28px;
  }
  
  #map {
    height: 90vh;
    width: 100vw;
    margin-top: 10px;
  }
  